html, body {
 font-size: 12px;
}

.home-container, .footer, .md-header{
    display: none;
}


/* Header */

.md-header {
    margin: 0px 0px;
}

.md-header .logo {
    max-width: 120px;
}

.md-header .md-button{
    font-size: 12px;
    min-width: auto;
}

.md-header .md-toolbar-tools {
    background: rgb(250, 250, 250);
}

.md-header .location-icon {
    color: #ccc;
    position: absolute;
    top: 10px;
    left: 5px;
}

.md-header .location-btn {
    padding: 5px 5px 5px 30px;
}


/* Fetaured Story */

.header-home {
    margin: 0 0 80px 0;
}

.featured-story a {
    text-decoration: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    color: #ffffff;
}

.featured-story img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.featured-story {
    height: 506px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    /*background-image: url('http://static.tumblr.com/14c01f3839e336556e427d08af71186c/kia2glj/yYNnjdckb/tumblr_static_121r0wq8049c8g04wwc4scs8o.jpg');*/
}

.featured-caption {
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: table;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.featured-caption-content h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 27px;
    line-height: 40px;
}

.featured-caption-content {
    padding: 48px 49px;
    vertical-align: bottom;
    display: table-cell;
    z-index: 10000;
}

.featured-caption-content h3 {
    font-size: 35px;
    line-height: 50px;
}

.featured-caption-category a {
    display: inline-block;
    white-space: nowrap;
    padding: 9px 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #ffffff;
    background: #00b36e;
}

.featured-story time {
    color: #ccc;
}

.featured-tags {
    margin: 10px 0 0;
    padding: 0;
}

.featured-tags li {
    display: inline;
    white-space: nowrap;
    color: #a3dcff;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    margin: 0 5px 0 0;
}

.featured-tags li a {
    color: #a3dcff;
    font-size: 1.2em;
}

@media only screen and (max-width: 960px) {
    .featured-caption-content h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .header-home {
        margin-bottom: 10px;
    }
    md-card {
        margin: 20px 0px;
    }
    .featured-story {
        margin: 0 0 20px 0;
    }
}


/* Widgets */

.story-widget md-card {
    margin: 10px 0px 50px 40px;
}

@media only screen and (max-width: 960px) {
    .story-widget md-card {
        margin: 30px 0px 0px 0px;
    }
}

.story-widget md-card-header {
    background: #ffffff;
    color: #333333;
    border: 1px solid #eeeeee;
    border-top: 3px solid #ffd259;
    border-bottom-color: #e9e9e9;
    padding: 18px 30px;
}

.story-widget md-card-header .md-title {
    font-size: 24px;
    font-weight: 500;
}

.popular-localities ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
}

.popular-localities ul li {
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 16px;
    margin-bottom: 17px;
    padding-left: 20px;
    position: relative;
    display: list-item;
}

.popular-localities i {
    margin-right: 12px;
    margin-left: -18px;
}

.popular-localities ul li span {
    color: #111111;
    text-decoration: none;
    vertical-align: top;
}

.popular-stories md-card-title {
    padding-top: 10px;
    padding-bottom: 30px;
}

.popular-stories md-card-title span {
    padding-top: 0px !important;
}

.popular-stories img {
    width: 100%;
}

.story-tags button {
    margin: 0px;
    min-width: 0px;
}

.story-tags button span {
    color: #0c8cce;
}

.story-card .story-project-header md-card-title {
    padding: 0px;
}

.story-card .story-project-header md-card-title-text .md-subhead {
    padding-top: 0px;
}

.tagcloud p {
    font-size: 16px !important;
    background: #27BA7D;
    color: #ffffff;
    display: inline-block;
    white-space: nowrap;
    padding: 6px 10px;
    margin-right: 4px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}


/* Home Page */


/* top box */

.featured-header {
    background-size: cover !important;
    background: url('http://roofpik.com/test/newweb/images/bg3.jpg') center center no-repeat;
    padding: 150px 0 125px;
}

.featured-header-wrapper {
    background: rgba(25, 25, 25, 0.51);
    padding: 30px 0 50px;
}

.featured-header h1 {
    font-size: 45px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin: 0 0 10px;
    width: auto;
}

.featured-header h2 {
    font-size: 24px;
    font-weight: 300;
    color: #dadada;
    text-align: center;
    margin: 20px 0 60px;
    width: auto;
}

.featured-header .home-search {
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1), inset 2px 2px 1px #f0f0f0;
    background-color: #fff;
    height: 55px;
    padding: 18px 0;
    border-radius: 6px;
    margin: 0 20px 0 0;
    border: 0;
}

.featured-header .home-search input {
    font-size: 14px;
    font-weight: 300;
    color: #888888;
    line-height: 1.3;
    padding: 0px 5% 0px;
    border: 0px;
    -webkit-font-smoothing: antialiased;
    width: 90%;
}

.featured-header .home-search input:focus {
    outline-width: 0;
    outline: none;
    color: #484848;
}

.home-title-wrapper {
    padding: 50px 0;
    text-align: center;
}

.home-category {
    padding: 80px 0 120px 0;
}

.home-category h2 {
    font-size: 16px;
    font-weight: 300;
    color: #5d5d5d;
    text-align: center;
    padding: 0px 0px 40px 0;
    margin: 20px 0px 50px;
        line-height: 24px;
}

.home-category h1 {
    font-size: 28px;
    font-weight: 400;
    color: #454545;
    margin: 0 0 10px;
    text-align: center;
    padding: 0px;
}

.home-category-wrapper .image {
    overflow: hidden;
}

.home-category-wrapper .image-box {
    padding: 10px;
}

.home-category-wrapper img {
    position: relative;
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.home-category-wrapper img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.home-category-wrapper .image {
    position: relative;
    width: 100%;
    max-height: 300px;
   }

.home-category-wrapper .image h2 {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 0px;
    width: 100%;
    color: #fff;
    background: rgba(29, 29, 29, 0.57);
    
}

.project-name {
    margin: 0px 10px 10px;
    padding: 10px 18px 20px;
}

.project-info .project-name i {
    vertical-align: bottom;
}

.left {
    display: block;
    float: left;
    width: 50%;
}

.right {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
}

.align-middle i {
    vertical-align: bottom;
}

.write-reviews {
    background: url('http://roofpik.com/test/newweb/images/bg5.jpg') center center no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.write-reviews .reviews-wrapper {
    background: rgba(25, 25, 25, 0.51);
    padding: 30px 0 50px;
}

.write-reviews .reviews-wrapper h1 {
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin: 0 0 10px;
    width: auto;

}

.write-reviews .reviews-wrapper h2 {
    font-size: 20px;
    font-weight: 100;
    color: #f7f7f7;
    text-align: center;
    margin: 20px 0 60px;
    width: auto;
     padding: 0px 20px;
}


#micro-market-map{
    height: 100%;
    width: 100%;
}

/* Project List */

.map-wrapper {
    height: 600px;
    right: 0px;
    position: fixed;
    width: 50%;
}

.project-list img {
    width: 100%;
}

.info_content a{
    text-decoration: none;
    color:#000;
}

#map {
    height: 100%;
    width: 100%;
}


/* Footer */

.footer {
    color: #97989d;
    background: #ebedf3;
}

.footer-wrapper {
    padding: 60px 0;
}

.footer-wrapper h4 {
    color: #20232c;
    font-size: 21px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0px 0px 20px;
}

.footer-links a {
    text-decoration: none;
    color: #97989d;
}

.footer-links a:hover {
    text-decoration: none;
    color: #cc0000;
}


/*Project details page*/

.project-details-page ul {
    list-style-type: none;
}

.project-details-page h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 5px;
}

.roofpikGreen {
    color: #1ab0d3;
}

.roofpikGrey {
    color: #666;
}

.golden {
    color: #ffdb4d;
}

.grey {
    color: #a6a6a6;
}

#reviewHeading {
    margin-top: 40px;
}

.overall-rating,
.overview-wrapper,
.all-rating-summary {
    background-color: #ffffff;
    padding: 40px 25px 50px;
    border: 1px solid #f2f2f2;
    /* width: 100%; */
    display: block;
    overflow: hidden;
    margin: 25px;
}

.overview-wrapper ul li,
.all-rating-summary ul li {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 300;
    color: #888888;
    border-top: 1px solid #f3f3f3
}

.overview-wrapper ul li span {
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #888888;
}

.overall-rating {
    text-align: center;
}

.overall-ratings {
    float: right;
}

.overall-ratings-headings {
    border-bottom: 1px solid #e6e6e6;
}

.overall-ratings-headings,
.overview-heading,
.all-rating-summary-heading {
    text-align: center;
}

#yesNoQues {
    text-align: right;
    padding-right: 5px;
}

.progress-bar {
    background-color: #e6e6e6;
    width: 100%;
    height: 15px;
    margin: 5px;
    position: relative;
}

.my-progress {
    background-color: #1AB0D3;
    height: 15px;
    position: absolute;
}

.tagcloud .tag-btn {
    margin: 8px;
    padding: 8px;
}

.tagcloud span.tag-btn {
    display: inline-block;
}

.tagcloud span.tag-btn:nth-child(1) {
    background-color: rgba(34, 168, 244, 0.1);
    color: #22a8f4;
}

.tagcloud span.tag-btn:nth-child(2) {
    background-color: rgba(255, 141, 69, 0.1);
    color: #ff8d3b;
}

.tagcloud span.tag-btn:nth-child(3) {
    background-color: rgba(157, 49, 197, 0.1);
    color: #9d31c5;
}

.tagcloud span.tag-btn:nth-child(4) {
    background-color: rgba(74, 197, 182, 0.1);
    color: #4ac5b6;
}

.tagcloud span.tag-btn:nth-child(5) {
    background-color: rgba(237, 52, 174, 0.1);
    color: #ed34ae;
}

.tagcloud span.tag-btn:nth-child(6) {
    background-color: rgba(52, 104, 137, 0.1);
    color: #3468ed;
}

.status-n-bhk p {
    float: right;
}

.project-status {
    background-color: #12A895;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 500;
}

.bhk-available {
    background-color: #FC313A;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 500;
}


/*Search modal*/

#search-dialog md-dialog-content {
    background-color: #F3F3F3;
    height: 60%;
}

#search-dialog {
    width: 100%;
}

.light {
    background-color: #ECFCFA;
    padding: 10px 30px;
}

.dark {
    background-color: #F5FDFC;
    padding: 10px 30px;
}

#search-input input {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1), inset 2px 2px 1px #f0f0f0;
}

#search-input {
    margin: 0px 0px -10px 0px;
}

.search-list p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888888;
}

.search-list h4 {
    font-weight: 400;
}

.search-list .location-icon {
    float: right;
    padding-right: 40px;
}

.search-list .location-icon i {
    font-size: 18px;
    color: #41b9aa;
}

.md-dialog-content #current-location {
    text-align: center;
}

.md-dialog-content #close-icon {
    float: right;
}

html {
    font-family: 'PT Sans', sans-serif;
}


/* About us page*/

#about-us-heading {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

#about-us-title {
    width: 100%;
    height: auto;
    background-image: url('http://roofpik.com/test/newweb/images/about-roofpik.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15%;
}

#about-us-title h1 {
    color: #ffffff;
}

#about-us-description {
    width: 85%;
    margin: 0 auto;
    padding: 50px 0px;
}

#about-us-description p {
    font-size: 14px;
    font-weight: 300;
    color: #888888;
    margin: 0 0 20px;
    line-height: 1.5;
}

#our-team {
    width: 100%;
    height: auto;
}

#our-team-description {
    width: 85%;
    height: auto;
}

#our-team-description a {
    color: #337ab7;
}


/* Jobs*/

#job-opening {
    width: 85%;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

#job-opening .job-opening-title:focus {
    outline: none;
    border: 0;
}

#job-opening .job-opening-title {
    background-color: #008080;
    padding: 3%;
    cursor: pointer;
}

#job-opening .job-opening-description {
    background-color: #ffffff;
    padding: 3% 10%;
}

#job-opening .job-opening-description ul li {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888888;
    margin: 0 0 20px;
    line-height: 1.5;
}

#job-opening #life-at-roofpik-title {
    padding: 5% 0% 3% 0%;
}

#life-at-roofpik-images img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}


/*Contact Us */

#contact-us-map {
    width: 100%;
    height: 350px;
}

#contact-us-form {
    width: 85%;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
}


/*FAQ*/

#faq {
    width: 85%;
    margin: 0 auto;
    background-color: #ffffff;
}

#faq .faq-question {
    cursor: pointer;
}

#faq .faq-question:focus {
    outline: none;
    border: 0;
}

#faq .faq-answer {
    background: #f2f2f2;
}


/* auth */

.auth-nav{
    position: fixed;
}

md-toolbar h3 span{
    position: absolute;
    right: 10px;
    top:20px;

}

.gl-other-options{
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.gl-signup{
        margin-left: 30px;
}
/*Review Details Page*/
.review-details-page .review-tips {
    background-color: #dddddd;
}

.review-details-page .review-form {
    background-color: #ffffff;
}

.review-details-page .rating span {
    font-size: 30px;
}

.review-details-page .searchList {
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #f2f2f2;
    margin: -16px auto 8px auto;
    width: 100%;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.review-details-page .review-search-list {
    padding: 0px;
}

.review-details-page .review-search-item {
    border-bottom: 1px solid #e6e6e6;
    background-color: #f2f2f2;
}

.review-details-page .colored{
    color:rgb(255,87,34);
}

.review-details-page .normal {
    color:rgb(140, 140, 140);
}

.review-details-page md-radio-group {
    float: right;
}

.review-details-page .image-selected {
    padding-left:30px !important;
}

/*User All Reviews Page*/
.user-all-reviews-page #user-review-card {
   margin:8px 40px; 
}
.user-all-reviews-page #edit-review-btn {
    text-align: center;
}
.user-all-reviews-page #edit-review-btn i {
    font-size:30px;
}
.user-all-reviews-page .user-review p{
    font-size:16px;
}
.user-all-reviews-page md-progress-circular {
    top:50%;
    margin: auto;
}

/*Write Reviews*/
.write-review-page .review-tips {
    background-color: #dddddd;
}

.write-review-page .review-form {
    background-color: #ffffff;
}

.write-review-page .rating span {
    font-size: 30px;
}

.write-review-page .searchList {
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #f2f2f2;
    margin: -16px auto 8px auto;
    width: 100%;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.write-review-page .review-search-list {
    padding: 0px;
}

.write-review-page .review-search-item {
    border-bottom: 1px solid #e6e6e6;
    background-color: #f2f2f2;
}

.write-review-page md-radio-group {
    float: right;
}

.write-review-page .image-selected {
    padding-left:30px !important;
}
