<div layout="column" id="about-us">
    <div id="about-us-heading">
        <div id="about-us-title" layout="row" layout-align="center center">
            <h1>About Us</h1>
        </div>
        <!-- About Us-->
        <div id="about-us-description" layout="column" layout-align="center center">
            <p>We rely on reviews for the littlest of things, yet there is no unbiased platform we can refer to when we make one of the biggest decisions whether it is to rent, buy or invest. Roofpik is your platform to share valued opinions about properties and locality. This will create a pool of reliable reviews which people can rely upon when making integral decisions.</p>
            <p>This gives an opportunity for people with first-hand experience to share their thoughts, as a person living within a community will be able to share information which is valuable in understanding what the real assets are of a particular property and what things can be improved. The reviews gathered will enable us to provide users with ratings on a list of structured parameters, statistical ranking for projects and a comparative listing feature to give a powerful evaluation.</p>
            <p>Genuine reviews can be accessed from anywhere with just a click, saving you from the hassle of running around the locality to get first-hand opinions. You will get total transparency with reviews from residents, giving you access to different perspectives. A comparative analysis will help you in the future to shortlist your choices to arrive at the most suitable option for you.</p>
        </div>
    </div>
    <md-divider></md-divider>
    <div id="our-team" layout="column" layout-align="center center">
        <div id="our-team-title" layout="row" layout-align="center center">
            <h2>Our Team</h2>
        </div>
        <div id="our-team-description" layout-sm="column" layout-xs="column" layout-gt-sm="row" layout-margin>
            <div flex="33" flex-xs="100" flex-sm="100">
                <md-card>
                    <img src="http://roofpik.com/test/newweb/images/arpit.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Arpit Mittal</span>
                            <span class="md-sub-head">Co-Founder <a href="https://in.linkedin.com/in/arpitmittal4"> <i class="fa fa-linkedin"></i></a></span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex="33" flex-xs="100" flex-sm="100">
                <md-card>
                    <img src="http://roofpik.com/test/newweb/images/mishu.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Mishu Ahluwalia</span>
                            <span class="md-sub-head">Co-Founder <a href="https://in.linkedin.com/in/mishu-ahluwalia-2385628"> <i class="fa fa-linkedin"></i> </a></span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex="33" flex-xs="100" flex-sm="100">
                <md-card>
                    <img src="http://roofpik.com/test/newweb/images/kanika.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Kanika Katoch</span>
                            <span class="md-sub-head">Co-Founder <a href="https://in.linkedin.com/in/kanika-katoch-a6a08b17"><i class="fa fa-linkedin"></i> </a></span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
    </div>
</div>
