<md-content>
    <div layout="column" flex layout-wrap>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="header-story">
            <article flex="50" flex-xs="100" flex-sm="100">
                <div class="featured-story" style="background-image:url({{featuredBlogs[0].coverImage['1600x900']}});" ng-click="goToBlogDetails(featuredBlogs[0].blogId)">
                    <div class="featured-caption">
                        <div class="featured-caption-content">
                            <h3><a href="#">{{featuredBlogs[0].title}}</a></h3>
                            <div class="featured-caption-category" ng-show="featuredBlogs[0].placeName"><a href="#">{{featuredBlogs[0].placeName}}</a></div>
                            <time>{{featuredBlogs[0].createdDate | date:'MMM dd, yy'}}</time>
                            <ul class="featured-tags">
                                <li ng-repeat="tag in featuredBlogs[0].hashtags"><a href="#">#{{tag.tag}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
            <article flex="50" flex-xs="100" flex-sm="100">
                <div class="featured-story" style="background-image:url({{featuredBlogs[1].coverImage['1600x900']}});" ng-click="goToStoryDetails(featuredBlogs[1].storyId)">
                    <div class="featured-caption">
                        <div class="featured-caption-content">
                            <div class="featured-caption-category"><a href="#">{{featuredBlogs[1].placeName}}</a></div>
                            <h3><a href="#">{{featuredBlogs[1].title}}</a></h3>
                            <time>{{featuredBlogs[1].createdDate | date:'MMM dd, yy'}}</time>
                            <ul class="featured-tags">
                                <li ng-repeat="tag in featuredBlogs[1].hashtags"><a href="#">#{{tag.tag}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="main-board" layout-align="center top">
            <div flex="50" class="story-board" flex-xs="100" flex-sm="100">
                <md-card class="story-card md-padding" ng-show="showNoBlogs">
                    <h2>No Blogs with this tag</h2>
                </md-card>
                <md-card class="story-card" ng-repeat="blog in allBlogs" ng-show="blog.selected" ng-show="!showNoBlogs">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{{blog.title}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="{{blog.coverImage['1600x900']}}" class="md-card-image" alt="Washed Out" />
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" ng-show="blog.placeName">{{blog.placeName}}</span>
                            <span class="md-subhead">By {{blog.adminName}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center" class="story-tags">
                        <md-button ng-repeat="tag in blog.hashtags">#{{tag.tag}}</md-button>
                        <!-- <md-button>#tag2</md-button> -->
                    </md-card-actions>
                    <md-card-content>
                        <p ng-bind-html="toTrustedHTML(blog.shortBlog)">
                        </p>
                        <span style="float:right;" ng-click="goToBlogDetails(blog.blogId)" class='roofpikGreen'>Show More</span>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="30" class="story-widget" flex-xs="100" flex-sm="100">
                <md-card class="popular-stories">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Popular Blogs</span>
                        </md-card-header-text>
                    </md-card-header>
                    <article ng-repeat="blog in popularBlogs" ng-click="goToStoryDetails(blog.blogId)">
                        <img ng-src="{{blog.coverImage['1600x900']}}" class="md-card-image" alt="Washed Out" />
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{blog.title}}</span>
                                <span class="md-subhead">{{blog.createdDate | date:'MMM dd, yy'}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </article>
                </md-card>
                <md-card class="popular-localities">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Popular Localities</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <ul>
                            <li ng-repeat="locality in popularLocalities">
                                <div><i class="material-icons">&#xE409;</i><span ng-click="getLocalityBlogs(locality.locationId)">{{locality.locationName}}</span></div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </md-card-content>
                </md-card>
                <md-card class="popular-tags">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Tag Cloud</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div class="tagcloud">
                            <p ng-click="getRelatedBlogs(tag.tagId)" ng-repeat="tag in tagCloudData">{{tag.tag}}</p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </section>
    </div>
</md-content>
