<div id="career-n-goals" layout="column" class="career-n-goals-page">
    <div id="career-n-goals-heading" layout="row" layout-align="center center">
        <h2>Job Profiles</h2>
    </div>
    <div layout="column" id="job-opening">
        <div class="jobs" layout="column">
            <div layout-sm="column" layout-xs="column" layout-gt-sm="row" class="job-opening-title" ng-init="job1=false" ng-click="job1 = !job1">
                <div flex>Events and Marketing Executive</div>
                <div flex-sm="100" flex-xs="100" flex="20">Full Time/Freelancer</div>
                <div flex-sm="100" flex-xs="100" flex="20"><i class="fa fa-map-marker" aria-hidden="true"></i> Gurgaon</div>
                <div flex-sm="100" flex-xs="100" flex="10" ng-show="job1" layout-gt-align="center"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                <div flex-sm="100" flex-xs="100" flex="10" ng-show="!job1" layout-gt-align="center"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
            </div>
            <div class="job-opening-description" ng-show="job1">
                <div class="panel-body">
                    <div class="gl-jobdetails-sec">
                        <h3>Key Responsibilities</h3>
                        <ul>
                            <li>Prepare client presentations, pitch books and brochures.</li>
                            <li>Work on strategy and the marketing campaigns.</li>
                            <li>Would be required to work on Customer Acquisition through Events and Promotional Campaigns.</li>
                            <li>Should be able tofollow up on leads, network to expand user base of the company.</li>
                            <li>Make presentations, develop, maintain and manage company portfolios.</li>
                            <li>Maintain assigned user base while developing new users.</li>
                            <li>Deliver advertising or illustration proofs to customers for acquisition.</li>
                            <li>Attend sales meetings, industry trade shows, and training seminars in order to gather information, promote products, expand network of contacts, and increase knowledge.</li>
                        </ul>
                    </div>
                    <div class="gl-jobdetails-sec">
                        <h3>What We Require?</h3>
                        <ul>
                            <li>Education from a reputed institute or graduates with requisite experience.</li>
                            <li>0-2 years of experience in customer acquisition andusermanagement.</li>
                            <li>Willing to travel (both local and domestic).</li>
                            <li>Good communication and inter personal skills.</li>
                            <li>Prior exposure to organizing seminars or marketing related activities will be a plus.</li>
                            <li>Should be able to confidently handle customers.</li>
                            <li>Inquisitive and Self Starter to meet the targets set by the marketing team.</li>
                            <li>Candidates who understand the working of a start-up venture and having entrepreneurial frame of mind would be preferred.</li>
                            <li>Candidate should have strong communication skills and pleasing personality.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
        <div class="jobs" layout="column">
            <div layout-sm="column" layout-xs="column" layout-gt-sm="row" class="job-opening-title" ng-init="job2=false" ng-click="job2 = !job2">
                <div flex>Events and Marketing Executive</div>
                <div flex-sm="100" flex-xs="100" flex="20">Full Time/Freelancer</div>
                <div flex-sm="100" flex-xs="100" flex="20"><i class="fa fa-map-marker" aria-hidden="true"></i> Gurgaon</div>
                <div flex-sm="100" flex-xs="100" flex="10" ng-show="job2" layout-gt-align="center"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                <div flex-sm="100" flex-xs="100" flex="10" ng-show="!job2" layout-gt-align="center"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
            </div>
            <div class="job-opening-description" ng-show="job2">
                <div class="panel-body">
                    <div class="gl-jobdetails-sec">
                        <h3>Key Responsibilities</h3>
                        <ul>
                            <li>Prepare client presentations, pitch books and brochures.</li>
                            <li>Work on strategy and the marketing campaigns.</li>
                            <li>Would be required to work on Customer Acquisition through Events and Promotional Campaigns.</li>
                            <li>Should be able tofollow up on leads, network to expand user base of the company.</li>
                            <li>Make presentations, develop, maintain and manage company portfolios.</li>
                            <li>Maintain assigned user base while developing new users.</li>
                            <li>Deliver advertising or illustration proofs to customers for acquisition.</li>
                            <li>Attend sales meetings, industry trade shows, and training seminars in order to gather information, promote products, expand network of contacts, and increase knowledge.</li>
                        </ul>
                    </div>
                    <div class="gl-jobdetails-sec">
                        <h3>What We Require?</h3>
                        <ul>
                            <li>Education from a reputed institute or graduates with requisite experience.</li>
                            <li>0-2 years of experience in customer acquisition andusermanagement.</li>
                            <li>Willing to travel (both local and domestic).</li>
                            <li>Good communication and inter personal skills.</li>
                            <li>Prior exposure to organizing seminars or marketing related activities will be a plus.</li>
                            <li>Should be able to confidently handle customers.</li>
                            <li>Inquisitive and Self Starter to meet the targets set by the marketing team.</li>
                            <li>Candidates who understand the working of a start-up venture and having entrepreneurial frame of mind would be preferred.</li>
                            <li>Candidate should have strong communication skills and pleasing personality.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
        <div class="jobs" layout="column">
            <div layout-sm="column" layout-xs="column" layout-gt-sm="row" class="job-opening-title" ng-init="job3=false" ng-click="job3 = !job3">
                <div flex>Events and Marketing Executive</div>
                <div flex-sm="100" flex-xs="100" flex="20">Full Time/Freelancer</div>
                <div flex-sm="100" flex-xs="100" flex="20"><i class="fa fa-map-marker" aria-hidden="true"></i> Gurgaon</div>
                <div flex-sm="100" flex-xs="100" flex="10" ng-show="job3" layout-gt-align="center"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                <div flex-sm="100" flex-xs="100" flex="10" ng-show="!job3" layout-gt-align="center"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
            </div>
            <div class="job-opening-description" ng-show="job3">
                <div class="panel-body">
                    <div class="gl-jobdetails-sec">
                        <h3>Key Responsibilities</h3>
                        <ul>
                            <li>Prepare client presentations, pitch books and brochures.</li>
                            <li>Work on strategy and the marketing campaigns.</li>
                            <li>Would be required to work on Customer Acquisition through Events and Promotional Campaigns.</li>
                            <li>Should be able tofollow up on leads, network to expand user base of the company.</li>
                            <li>Make presentations, develop, maintain and manage company portfolios.</li>
                            <li>Maintain assigned user base while developing new users.</li>
                            <li>Deliver advertising or illustration proofs to customers for acquisition.</li>
                            <li>Attend sales meetings, industry trade shows, and training seminars in order to gather information, promote products, expand network of contacts, and increase knowledge.</li>
                        </ul>
                    </div>
                    <div class="gl-jobdetails-sec">
                        <h3>What We Require?</h3>
                        <ul>
                            <li>Education from a reputed institute or graduates with requisite experience.</li>
                            <li>0-2 years of experience in customer acquisition andusermanagement.</li>
                            <li>Willing to travel (both local and domestic).</li>
                            <li>Good communication and inter personal skills.</li>
                            <li>Prior exposure to organizing seminars or marketing related activities will be a plus.</li>
                            <li>Should be able to confidently handle customers.</li>
                            <li>Inquisitive and Self Starter to meet the targets set by the marketing team.</li>
                            <li>Candidates who understand the working of a start-up venture and having entrepreneurial frame of mind would be preferred.</li>
                            <li>Candidate should have strong communication skills and pleasing personality.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
	    <div id="life-at-roofpik-title" layout="row" layout-align="center center">
	        <h2>Life At Roofpik</h2>
	    </div>
	    <div id="life-at-roofpik-images">
	        <div layout="row" layout-sm="column" layout-xs="column" layout-margin>
	            <div flex-sm="100" flex-xs="100" flex="50"><img src="http://roofpik.com/test/newweb/images/website1.jpg"></div>
	            <div flex-sm="100" flex-xs="100" flex="50"><img src="http://roofpik.com/test/newweb/images/website2.jpg" alt=""></div>
	        </div>
	        <div layout="row" layout-sm="column" layout-xs="column" layout-margin>
	            <div flex-sm="100" flex-xs="100" flex="33"><img src="http://roofpik.com/test/newweb/images/website2.jpg" alt=""></div>
	            <div flex-sm="100" flex-xs="100" flex="33"><img src="http://roofpik.com/test/newweb/images/website2.jpg" alt=""></div>
	            <div flex-sm="100" flex-xs="100" flex="33"><img src="http://roofpik.com/test/newweb/images/website2.jpg" alt=""></div>
	        </div>
	    </div>
    </div>
</div>
