<md-divider></md-divider>
<div layout="column"  id="faq">
    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q1=false" ng-click="q1 = !q1">
            <p flex>What is Roofpik?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q1" class="fa fa-plus"></i>
                <i ng-show="q1" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q1">
            <p>Roofpik is your very own Platform which captures your views on a residential project, under construction property and locality.</p>
        </div>
        <md-divider></md-divider>
    </div>
    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q2=false" ng-click="q2 = !q2">
            <p flex>Why do we need reviews?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q2" class="fa fa-plus"></i>
                <i ng-show="q2" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q2">
            <p>We rely on reviews for the littlest of things, yet there is no unbiased forum or source of information which provides genuine reviews from people who have the knowledge about a project or locality. Roofpik is gathering this information for users to access information which helps them make an informed decisions.</p>
        </div>
        <md-divider></md-divider>
    </div>
    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q3=false" ng-click="q3 = !q3">
            <p flex>What sort of things do we need to write about?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q3" class="fa fa-plus"></i>
                <i ng-show="q3" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q3">
            <p>The review form captures information and ratings for structured parameters to enable a statistic analysis which will be helpful for users. Along with this, you also have a free text box for you to write whatever you want, giving your insider view on a project or locality.</p>
        </div>
        <md-divider></md-divider>
    </div>

    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q4=false" ng-click="q4 = !q4">
            <p flex>What do we get for writing a review?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q4" class="fa fa-plus"></i>
                <i ng-show="q4" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q4">
            <p>Your few seconds today will help someone else in making an important decision. This very platform will help you in the future at some point to access reviews that other users have written. We are also working collaboratively with an NGO, Nanhi Kali, to contribute towards girl education for every review that you write and we will keep you informed of the progress of this if you chose to receive updates.</p>
        </div>
        <md-divider></md-divider>
    </div>

    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q5=false" ng-click="q5 = !q5">
            <p flex>Can I write more than one review?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q5" class="fa fa-plus"></i>
                <i ng-show="q5" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q5">
            <p>Of course! You can write as many reviews that you like based on your experience of living there, or visiting a place.</p>
        </div>
        <md-divider></md-divider>
    </div>

    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q6=false" ng-click="q6 = !q6">
            <p flex>Why do I need to share my mobile number or address?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q6" class="fa fa-plus"></i>
                <i ng-show="q6" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q6">
            <p>We need to ensure that the reviews that are written are validated and written by genuine users. This helps us ensure that Roofpik only contains information from real users, to eliminate fake information and reviews. We adhere strictly to our privacy policy and commit to not sharing your personal information with anyone. You can access our privacy policy HERE.</p>
        </div>
        <md-divider></md-divider>
    </div>

    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q7=false" ng-click="q7 = !q7">
            <p flex>Where is Roofpik operational?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q7" class="fa fa-plus"></i>
                <i ng-show="q7" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q7">
            <p>At present, you can write about any residential project, under construction property or locality in Gurgaon. We will eventually be expanding and reaching out to other users across multiple cities</p>
        </div>
        <md-divider></md-divider>
    </div>

    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q8=false" ng-click="q8 = !q8">
            <p flex>Where willa user be able to access reviews?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q8" class="fa fa-plus"></i>
                <i ng-show="q8" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q8">
            <p>Once a user writes a review, this will go through an internal validation process after which it will be made live. This is when other users will be able to access this information.</p>
        </div>
        <md-divider></md-divider>
    </div>

    <div layout="column">
        <div layout="row" class="faq-question md-padding" ng-init="q9=false" ng-click="q9 = !q9">
            <p flex>How am I contributing to girl child education?</p>
            <div flex="10" layout="row" layout-align="center center">
                <i ng-show="!q9" class="fa fa-plus"></i>
                <i ng-show="q9" class="fa fa-minus"></i>
            </div>
        </div>
        <div class="faq-answer md-padding" ng-show="q9">
            <p>Roofpik have a collaborative relationship with an NGO, Nanhi Kali who work in providing a girl child the gift of education. Roofpik have made a commitment to contribute towards this gift for every review that you write. We will be emailing the details of the girl child whose education you have contributed to by writing your review.</p>
        </div>
        <md-divider></md-divider>
    </div>
</div>
