<md-content>
	<div layout="column" flex layout-wrap>
		<div layout="row">
			Header
		</div>
	    <div layout="row" layout-align="center center" style="background-color:red;">
	        <div flex="66">
	            <div layout="column" layout-align="center center">
	                <div flex>First item in column</div>
	                <div flex>Second item in column</div>
	                <div flex>third item in column</div>
	            </div>
	        </div>
	    </div>
		<div layout="column"  style="background-color:green;">
			<div flex layout="column" layout-align="center center">
				<h1>What we do?</h1>
				<p>Verified reviews and ratings for hundreds of projects help you find the best project for rent or purchase</p>
			</div>
			<div layout="row" align="center">
				<div flex>
					<div layout="column">
		                <div flex>First item in column</div>
		                <div flex>Second item in column</div>
		                <div flex>third item in column</div>
		            </div>
				</div>
				<div flex>
					<div layout="column">
		                <div flex>First item in column</div>
		                <div flex>Second item in column</div>
		                <div flex>third item in column</div>
		            </div>
				</div>
				<div flex>
					<div layout="column">
		                <div flex>First item in column</div>
		                <div flex>Second item in column</div>
		                <div flex>third item in column</div>
		            </div>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="center center" style="background-color:yellow;">
			<div flex="66">
	            <div layout="column" layout-align="center center">
	                <div flex><h1>2000+ Reviews</h1></div>
	                <div flex>Write a review and help someone find a home. In association with Nanhi Kali , for every review written we sponsor one day of education for a girl child.</div>
	                <div flex><md-button class="md-raised">Write Review Now</md-button></div>
	            </div>
	        </div>
		</div>
		<div layout="row" style="background-color:blue;">
			<div flex="75" layout="column">
				<div flex layout="row">
					<div flex="75">Image 1</div>
					<div flex="25">Image 2</div>
				</div>
				<div flex layout="row">
					<div flex="25">Image 3</div>
					<div flex="75">Image 4</div>
				</div>
			</div>
			<div flex="25">Image 5</div>
		</div>
		<div layout="column"  style="background-color:green;">
			<div flex layout="column" layout-align="center center">
				<h1>Top Rated Projects</h1>
				<p>Checkout and enjoy the biggest unlimited possiblities</p>
			</div>
			<div layout="row" align="center">
				<div flex>
					Project 1
				</div>
				<div flex>
					Project 2
				</div>
				<div flex>
					Project 3
				</div>
			</div>
			<div layout="row" layout-align="center center">
				<md-button class="md-raised">More</md-button>
			</div>
		</div>
		<div layout="row">
			<div flex>Roofpik Logo</div>
			<div flex>
				<h2>Contact info</h2>
				<p>250, Vipul Trade Center, Sector 48, Gurgaon</p>
				<p>+91 124 438 4167</p>
				<p>contact@roofpik.com</p>
				<p>www.roofpik.com</p>
			</div>
			<div flex>
				<h2>Company</h2>
				<p>About Us</p>
				<p>FAQ's</p>
				<p>Career & Goal</p>
				<p>Contact Us</p>
			</div>
		</div>
		<div layout="row" style="background-color:#ccc;">
			Footer
		</div>
	</div>
</md-content>
