<style>
/*    .blog-story img{
        transform: scale(1);
    }
    .blog-story img:hover {
        transform: scale(1.1);
        transition: .3s ease-in-out;
    }*/

.blog-story .blog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    background-color: rgba(0,0,0,.6);
}
.blog-story .blog-overlay:hover {
    opacity:0.6;
}

.blog-image-box .blog-details {
    bottom: 10px;
    left:10px;
    position: absolute;
    width:100%
}

.blog-details {
    position:absolute;
    text-align:left;
    bottom:0px;
}

.blog-details h3 {
    color:#fff;
    margin:0 0 0 15px;
    font-size:20px;
}

.blog-details h4 {
    color:#fff;
    margin:0 0 15px 15px;
    font-size:14px;
}

.home-category .what-we-provide{
    text-align: center;
}

.home-category .what-we-provide h2 {
    margin-bottom:25px;
    padding-bottom:0px;
    color:#5d5d5d;
}

.home-category .what-we-provide i {
    font-size:60px;
    color:#ED8323;
}

.info-panel {
    background-color:#fff;
    padding:20px;
    text-align:left;
    color:#5d5d5d;
}

.info-panel h2 {
    margin: 20px 0px !important;
}

#info-panel-img {
    width:100%;
    height:100%;
}

</style>
<div layout="column" flex layout-wrap layout-fill class="home-container">
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row">
        <div class="featured-header" layout-align="center center" layout="row" flex>
            <div class="featured-header-wrapper" flex="80" layout-align="center center">
                <h1>  Power Your Property Search with Genuine User Reviews </h1>
                <h2>  From food to vacations, you bank on reviews for everything. Why should your property search be any different?  </h2>
                <div layout="row" layout-align="center center">
                    <div flex="80" class="home-search">
                        <input type="text" placeholder="Search by project, builder, landmark or locality" ng-click="showAdvanced($event)" />
                    </div>
                </div>
                <h2> Browse through 1,000+ verified property reviews. Or share one today. </h2>
            </div>
        </div>
    </section>
    <section layout="row" layout-align="center center">
        <div class="home-category" layout-align="center center" layout-gt-sm="row" flex="80" layout-wrap>
            <div flex="100" layout-align="center center">
                <h1> Many Property Needs. One Smart Platform to Fulfil Them. </h1>
                <h2> Families. Working Professionals. Senior Citizens. Entrepreneurs. Singletons.</h2>
                <h3>We’ve brought together genuine user reviews, fact-based insights, liveability index ratings, and much more from people like you. Everything that matters when buying, selling or renting property is here.</h3>
            </div>
            <div class="home-category-wrapper" layout="row" layout-align="center center" flex="100" layout-wrap>
                <div flex="50" class="image-box" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('family')">
                    <div class="image">
                        <img src="images/home/family.jpg" alt="" />
                        <h2>Family</h2>
                    </div>
                </div>
                <div class="image-box" flex="20" ng-click="takeToProjectList('oldAgeFriendly')" flex-xs="100" flex-sm="100">
                    <div class="image">
                        <img src="images/home/old.jpg" alt="" />
                        <h2>Elderly</h2>
                    </div>
                </div>
                <div flex="30" class="image-box" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('justMarried')">
                    <div class="image">
                        <img src="images/home/married.jpg" alt="" />
                        <h2>Married</h2>
                    </div>
                </div>
                <div flex="30" class="image-box" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('kids')">
                    <div class="image">
                        <img src="images/home/kids.jpg" alt="" />
                        <h2>Children</h2>
                    </div>
                </div>
                <div flex="50" class="image-box" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('bachelors')">
                    <div class="image">
                        <img src="images/home/bachelors.jpg" alt="" />
                        <h2>Bachelors</h2>
                    </div>
                </div>
                <div class="image-box" flex="20" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('petFriendly')">
                    <div class="image">
                        <img src="images/home/petFriendly.jpg" alt="" />
                        <h2>Pet Friendly</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section layout="row" layout-align="center center">
        <div layout="row" flex="80" class="home-category" layout-align="center start" layout-wrap>
            <div flex="100" layout-align="center center">
                <h1> The Data Powered Way to Find Property</h1>
                <h2> Discover how user contributed data can guide your property hunt</h2>
            </div>
            <div class="what-we-provide md-padding" flex-gt-sm="33" flex-sm="33" flex-xs="100">
                <i class="material-icons">star</i>
                <h2>Neutral & Unbiased Reviews</h2>
                <h3>Registered users and verified reviews help us derive accurate ratings.</h3>
            </div>
            <div class="what-we-provide md-padding" flex-gt-sm="33" flex-sm="33" flex-xs="100">
                <i class="material-icons">show_chart</i>
                <h2>Fact-driven Insights</h2>
                <h3>From noise levels to maintenance, get all the vital stats of a property.</h3>
            </div>
            <div class="what-we-provide md-padding" flex-gt-sm="33" flex-sm="33" flex-xs="100">
                <i class="material-icons">format_list_bulleted</i>
                <h2>Analytical Comparison Matrices</h2>
                <h3>We work magic with complex technologies to create detailed property comparisons.</h3>
            </div>
        </div>
    </section>

    <section layout="row" layout-align="center center">
        <div layout="row" flex="80" class="home-category" layout-align="center start" layout-wrap>
            <div flex="100" layout-align="center center" class="md-padding" style="padding-bottom:40px;">
                <h1>Why Your Property Review Matters </h1>
            </div>
            <div layout="row" layout-wrap>
                <div flex-gt-sm="50" flex-sm="50" flex-xs="100" class="info-panel" flex-order-xs="2">
                    <h2>No Information Hoarding</h2>
                    <p>Property websites that rely heavily on listings and classifieds also carry the risk of skewed information being furnished to you. By sharing your first-hand experiences about a commercial or residential property, you’re directly reaching out to thousands like you are looking for personal recommendations. </p>
                </div>
                <div flex-gt-sm="50" flex-sm="50" flex-xs="100" flex-order-xs="1">
                    <img src="images/new-panel.jpg" id="info-panel-img">
                </div>
            </div>
            <div layout="row" layout-wrap>
                 <div flex-gt-sm="50" flex-sm="50" flex-xs="100">
                    <img src="images/new-panel.jpg" id="info-panel-img">
                </div>
                <div flex-gt-sm="50" flex-sm="50" flex-xs="100" class="info-panel">
                    <h2>Unbiased Opinions</h2>
                    <p>Renting, buying, or investing in real estate is smoother if buyers are guided with the right advice at the right time. Your unbiased opinions can reveal the ground realities to property buyers and help them save precious time.</p>
                </div>
            </div>
            <div layout="row" layout-wrap >
                <div flex-gt-sm="50" flex-sm="50" flex-xs="100" class="info-panel" flex-order-xs="2">
                    <h2>The Details are Decisive</h2>
                    <p>Discussing project details such as amenities, costs, transport, and water and electricity supply can help users of this platform make a prudent decision. Do your bit to help a growing community that’s eager to share opinions and advice. </p>
                </div>
                <div flex-gt-sm="50" flex-sm="50" flex-xs="100" flex-order-xs="1">
                    <img src="images/new-panel.jpg" id="info-panel-img">
                </div>
            </div>
            <div layout="row" layout-wrap >
                 <div flex-gt-sm="50" flex-sm="50" flex-xs="100">
                    <img src="images/new-panel.jpg" id="info-panel-img">
                </div>
                <div flex-gt-sm="50" flex-sm="50" flex-xs="100" class="info-panel">
                    <h2>Be Part of a Disruptive Movement</h2>
                    <p>We’re simplifying your property search by using amazing data analytics and algorithms to create user-focused locality guides, real estate project reviews, and expert advice. Your review is a valuable contribution to mapping the littlest details about projects and neighbourhoods.</p>
                </div>
            </div>
        </div>
    </section>

    <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="write-reviews">
        <div layout-align="center center" layout="row" flex class="home-category">
            <div class="reviews-wrapper" flex="80" layout-align="center center">
                <h1> Write a Review About Your Buying or Renting Experience </h1>
                <h2> Your verified review will do more than help someone find their dream property. It will also help educate a girl.
                <br>
                For every new review on the website, Roofpik joins hands with Nanhi Kali to sponsor a day’s education for a girl child.
                 </h2>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="gotoWriteReviews()">Write Review</md-button>
                </div>
            </div>
        </div>
    </section>
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row">
        <div class="home-category" layout-align="center center" layout-sm="column" layout-xs="column" layout-gt-sm="row" flex>
            <div flex="80" layout-align="center center" flex-xs="100" flex-sm="100">
                <h1>  Top Rated Projects </h1>
                <h2> Zero focus on listing/ classifieds that get you reviews that are <strong>unbiased and neutral.</strong></h2>
                <div layout-sm="column" layout-xs="column" layout-gt-sm="row" layout-align="center center">
                    <div flex="100" class="home-category-wrapper" layout-sm="column" layout-xs="column" layout-gt-sm="row">
                        <div flex="33" flex-xs="100" flex-sm="100" ng-repeat="project in topRated" ng-click="takeToProjectDetails(project)">
                            <div style="padding:10px">
                                <div class="image-box">
                                    <div class="image">
                                        <img ng-src="{{project.imgUrl}}" alt="" />
                                        <h2>#{{$index+1}} of {{numProjects}} projects in Gurgaon</h2>
                                    </div>
                                </div>
                                <div class="project-info">
                                    <div class="project-name">
                                        <span class="left">{{project.projectName}}</span>
                                        <span class="right">{{project.rating}}<i class="material-icons">&#xE838;</i></span>
                                    </div>
                                    <div class="project-location">
                                        <span class="align-middle"> <i class="material-icons">&#xE55F;</i>{{project.displayLocation}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="show-more-btn">
                    <md-button class="md-raised" ng-click="takeToProjectList('topRated')">Show More</md-button>
                </div>
            </div>
        </div>
    </section>
    <section layout="row" layout-align="center center">
        <div class="home-category" layout-align="center center" layout-wrap>
            <div flex="100" layout-align="center center">
                <h1>  Cover Stories </h1>
                <h2>  
                When you rent or buy a house it's not just a place it's a journey of accomplishment
            <br>   <strong> Sneak Peek into the lives of our users. </strong> </h2>
            </div>
            <div flex="100" layout-align="center center" layout-wrap layout="row">
                <div flex="25" flex-xs="100" flex-sm="100" ng-repeat="story in shortStories | orderBy :'-'" ng-click="goToStory(story)" class="cover-story">
                     <div class="image-box">
                        <div class="image">
                            <img ng-src="{{story.coverImage}}" alt="" />
                            <div class="cover-desc">
                                <h3>{{story.placeName}}</h3>
                                <h4>{{story.title}} <span class="story-created-date">{{story.createdDate | date: 'MMM dd, yyyy'}}</span></h4>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="show-more-btn">
                <md-button class="md-raised" ng-click="showCoverStories()">Show More</md-button>
            </div>
        </div>
    </section>

    <section layout="row" layout-align="center center">
        <div class="home-category" layout-align="center center" layout-wrap>
            <div flex="100" layout-align="center center">
                <h1>  Our Blogs </h1>
                <h2> Some short description on how blogs work</h2>
            </div>
            <div flex="100" layout-align="center center" layout-wrap layout="row">
                <div flex="25" flex-xs="100" flex-sm="50" ng-repeat="blog in blogs track by $index" class="blog-story" ng-click="goToBlog(blog)" >
                    <div id="blog-image-box"  style="overflow:hidden;">
                        <img id="blog-image" ng-src="{{blog.coverImage}}" style="width:100%;" alt=""/>
                        <div class="blog-overlay">
                            <div class="blog-details">
                                <h3>{{blog.title}}</h3>
                                <h4>{{blog.createdDate | date: 'MMM dd, yyyy'}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-more-btn">
                <md-button class="md-raised" ng-click="takeToBlogs()">Show More</md-button>
            </div>
        </div>
    </section>
</div>
