<div layout="column" flex layout-wrap layout-fill class="home-container">
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row">
        <div class="featured-header" layout-align="center center" layout="row" flex>
            <div class="featured-header-wrapper" flex="80" layout-align="center center">
                <h1>   Discover Best Projects and Localities in Gurgaon </h1>
                     
                <h2>  India's Premier Property Reviews and Ratings by Residents </h2>

                <div layout="row" layout-align="center center">
                    <div flex="80" class="home-search">
                        <input type="text" placeholder="Search by project, builder, landmark or locality" ng-click="showAdvanced($event)" />
                    </div>
                </div>
                <h2> Share your experience </h2>
            </div>
        </div>
    </section>
    <section layout="row" layout-align="center center">
        <div class="home-category" layout-align="center center" layout-gt-sm="row" flex="80" layout-wrap>
            <div flex="100" layout-align="center center">
                <h1>  Find the best projects for!! </h1>
                <h2>  <strong>First time ever</strong> touching the life’s of residents to generate reviews and experiences on living, buying and selling a property.</h2>
            </div>
            <div class="home-category-wrapper" layout="row" layout-align="center center" flex="100" layout-wrap>
                <div flex="50" class="image-box" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('family')">
                    <div class="image">
                        <img src="images/home/family.jpg" alt="" />
                        <h2>Family</h2>
                    </div>
                </div>
                <div class="image-box" flex="20" ng-click="takeToProjectList('oldAgeFriendly')" flex-xs="100" flex-sm="100">
                    <div class="image">
                        <img src="http://roofpik.com/test/newweb/images/old.jpg" alt="" />
                        <h2>Elderly</h2>
                    </div>
                </div>
                <div flex="30" class="image-box" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('justMarried')">
                    <div class="image">
                        <img src="images/home/married.jpg" alt="" />
                        <h2>Married</h2>
                    </div>
                </div>
                <div flex="30" class="image-box" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('kids')">
                    <div class="image">
                        <img src="http://roofpik.com/test/newweb/images/kids.jpg" alt="" />
                        <h2>Children</h2>
                    </div>
                </div>
                <div flex="50" class="image-box" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('bachelors')">
                    <div class="image">
                        <img src="http://roofpik.com/test/newweb/images/bachelors.jpg" alt="" />
                        <h2>Bachelors</h2>
                    </div>
                </div>
                <div class="image-box" flex="20" flex-xs="100" flex-sm="100" ng-click="takeToProjectList('petFriendly')">
                    <div class="image">
                        <img src="http://www.thegrandpet.com/wp-content/uploads/2010/04/dog-running-with-ball.jpg" alt="" />
                        <h2>Pet Friendly</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="write-reviews">
        <div layout-align="center center" layout="row" flex>
            <div class="reviews-wrapper" flex="80" layout-align="center center">
                <h1>  2000+ Reviews</h1>
                <h2>  Write a review and help someone find a home. In association with Nanhi Kali , for every review written we sponsor one day of education for a girl child.
                <br>
                <strong>All the reviews are verified by our team.</strong>
                 </h2>
              
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="gotoWriteReviews()">Write Review</md-button>
                </div>
            </div>
        </div>
    </section>
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row">
        <div class="home-category" layout-align="center center" layout-sm="column" layout-xs="column" layout-gt-sm="row" flex>
            <div flex="80" layout-align="center center" flex-xs="100" flex-sm="100">
                <h1>  Top Rated Projects </h1>
                <h2> Zero focus on listing/ classifieds that get you reviews that are <strong>unbiased and neutral.  </strong>
 </h2>

                <div layout-sm="column" layout-xs="column" layout-gt-sm="row" layout-align="center center">
                    <div flex="100" class="home-category-wrapper" layout-sm="column" layout-xs="column" layout-gt-sm="row">
                        <div flex="33" flex-xs="100" flex-sm="100" ng-repeat="project in topRated" ng-click="takeToProjectDetails(project)">
                            <div style="padding:10px">
                                <div class="image-box">
                                    <div class="image">
                                        <img ng-src="{{project.imgUrl}}" alt="" />
                                        <h2>#{{$index+1}} of {{numProjects}} projects in Gurgaon</h2>
                                    </div>
                                </div>
                                <div class="project-info">
                                    <div class="project-name">
                                        <span class="left">{{project.projectName}}</span>
                                        <span class="right">{{project.rating}}<i class="material-icons">&#xE838;</i></span>
                                    </div>
                                    <div class="project-location">
                                        <span class="align-middle"> <i class="material-icons">&#xE55F;</i>{{project.displayLocation}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="show-more-btn">
                <md-button class="md-raised">Show More</md-button>
                </div>
            </div>
        </div>
    </section>
    <section layout="row" layout-align="center center">
        <div class="home-category" layout-align="center center" layout-wrap>
            <div flex="100" layout-align="center center">
                <h1>  Cover Stories </h1>
                <h2>  
                When you rent or buy a house it's not just a place it's a journey of accomplishment
            <br>   <strong> Sneak Peek into the lives of our users. </strong> </h2>
            </div>
            <div flex="100" layout-align="center center" layout-wrap layout="row">
                <div flex="25" flex-xs="100" flex-sm="100" ng-repeat="story in shortStories | orderBy :'-'" ng-click="goToStory(story)" class="cover-story">
                    <img ng-src="{{story.coverImage}}" alt="" />
                       <div class="cover-desc">
                    <h3>{{story.placeName}}</h3>
                    <h4>{{story.createdDate | date: 'dd-MM-yy'}}</h4>
                    <h4>{{story.title}}</h4>
                    </div>
                </div>

                <!--                 <div flex="25" flex-xs="100" flex-sm="100">
                    <img src="https://1005776689.rsc.cdn77.org/images/projects/-KPmH9oIem1N1_s4qpCv/5/da9a68a5-07b0-47fe-9991-8ff4bc987479.JPEG" alt="" />
                    <h2>projects in Gurgaon</h2>
                </div>
                <div flex="25" flex-xs="100" flex-sm="100">
                    <img src="https://1005776689.rsc.cdn77.org/images/projects/-KPmH9oIem1N1_s4qpCv/5/da9a68a5-07b0-47fe-9991-8ff4bc987479.JPEG" alt="" />
                    <h2>projects in Gurgaon</h2>
                </div>
                <div flex="25" flex-xs="100" flex-sm="100">
                    <img src="https://1005776689.rsc.cdn77.org/images/projects/-KPmH9oIem1N1_s4qpCv/5/da9a68a5-07b0-47fe-9991-8ff4bc987479.JPEG" alt="" />
                    <h2>projects in Gurgaon</h2>
                </div> -->
            </div>
            <div class="show-more-btn">
            <md-button class="md-raised">Show More</md-button>
            </div>
        </div>
    </section>
</div>
