<md-content class="profile-page">
    <div layout="row" flex="70" class="profile-page-content">
        <div flex="30" style="text-align:center;">
       		<!-- <img ng-src="user.profileImg" alt="http://www.e-codices.unifr.ch/documents/media/Collections/img-not-available_en.jpg" style="height: 200px;border-radius: 50%;"/> -->
       		<img id="profile-img" ng-src="{{uploadedImage}}" alt="http://www.e-codices.unifr.ch/documents/media/Collections/img-not-available_en.jpg"/>
        	<!-- <p><span class="change-img-btn" ng-click="changeProfileImage()">Change</span></p> -->
        	<input value="Change" type="file" id="change-image" onchange="angular.element(this).scope().getFileDetails(event)" accept="image/*" single/>
			<!-- <div class="profile-img-upload">
	        	<input type="file" id="image-upload-actual-btn"/>
				<input type="button" id="image-upload-btn" value="Change Image" />
			</div> -->
        	<h3 id="view-reviews" ng-click="showUserReviews()">View Reviews</h3>
        </div>
        <div flex="70" style="border:1px solid #ccc; padding-bottom:20px;margin-bottom:20px;">
            <div flex="100" style="margin: -15px 0 20px 0;padding: 15px 20px 1px;background-color: #ccc">
	            <h3>Profile Information</h3>
	        </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>First Name</h4>
                </div>
                <div flex="80">
                    <input type="text" ng-model="user.fname">
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>Last Name</h4>
                </div>
                <div flex="80">
                    <input type="text" ng-model="user.lname">
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>I Am</h4>
                </div>
                <div flex="80">
                    <select ng-model="user.gender" id="gender-dropdown">
						<option ng-value="gender" ng-repeat="gender in allGenders">{{gender}}</option>
					</select>
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>Birth Date</h4>
                </div>
                <div flex="80">
                    <select ng-model="user.birthDay.month" id="month-dropdown">
						<option ng-value="month" ng-repeat="month in allMonths">{{month}}</option>
					</select>
					<select ng-model="user.birthDay.date" id="date-dropdown">
						<option ng-value="date" ng-repeat="date in allDates">{{date}}</option>
					</select>
					<select ng-model="user.birthDay.year" id="year-dropdown">
						<option ng-value="year" ng-repeat="year in allYears">{{year}}</option>
					</select>
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>Email Address</h4>
                </div>
                <div flex="80">
                    <input type="email" ng-model="user.email.emailAddress" disabled>
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>Mobile</h4>
                </div>
                <div flex="80">
                    <input type="tel" ng-model="user.mobile.mobileNum" disabled>
                    <!-- <p ng-show="user.mobile.mobileProvided == false && !addMobileClicked" layout="row" ng-click="addMobile()" id="add-mobile-btn">
                    	<span>
                    		<i class="material-icons">add</i>
                    	</span>
                    	<span id="add-mobile-btn-link">Add Mobile</span>
                    </p>
                    <div ng-show="addMobileClicked" layout="row" flex="50" id="mobile-div">
                    	<div id="extra-code"><b>+91</b></div>
                    	<div><input type="tel" ng-model="mobno"></div>
                    	<span id="add-num-btn" ng-click="addMobileNumber(mobno)">Add</span>
                    </div> -->
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>City</h4>
                </div>
                <div flex="80">
                    <select ng-model="city" id="city-dropdown">
						<option ng-value="city" ng-repeat="city in cities">{{city}}</option>
					</select>
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>Society/Locality</h4>
                </div>
                <div flex="80">
                    <input type="text" ng-model="user.address.societyLocality">
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>Flat/House No.</h4>
                </div>
                <div flex="80">
                    <input type="text" ng-model="user.address.flatHouseNo">
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>Block/Building No.</h4>
                </div>
                <div flex="80">
                    <input type="text" ng-model="user.address.blockBuildingNo">
                </div>
            </div>
            <div layout="row" class="user-detail-row">
                <div flex="20" class="detail-label">
                    <h4>Pincode</h4>
                </div>
                <div flex="80">
                    <input type="text" ng-model="user.address.pincode">
                </div>
            </div>
            <div style="text-align:center;">
            	<md-button class="md-raised" ng-click="submit()" id="submit-btn">Save</md-button>
            </div>
        </div>
    </div>
</md-content>