<md-content class="project-details-page">
    <section layout="row" class="header-story" layout-wrap>
        <article flex="100">
            <div class="featured-story" style="background-image:url({{project.images.main['2100x800']}});">
                <div class="featured-caption">
                    <div class="featured-caption-content">
                        <h1 class="project-title">{{projectName}}</h1>
                        <p style="color:#fff;"><i class="material-icons">location_on</i>{{project.projectDetails.address.displayLocation}}</p>
                        <span style="color:#fff;"><i class="material-icons" >grade</i>4.5</span>
                        <div class="status-n-bhk">
                            <p>
                                <span class="project-status">{{project.projectStatus}}</span>
                                <span class="bhk-available">{{bhkAvailable}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article flex="100" class="md-padding">
            <div flex="100" class="path-filters">
                <span class="path-btn" ng-click="takeToHome()">Home</span>
                <span class="path-btn" ng-repeat="filter in path track by $index">{{filter}}</span>
            </div>
        </article>
    </section>
    <section layout="row" class="header-story" ng-show="project.standoutFeatures">
        <article flex="100" class="md-padding">
                <div class="featured-caption-content">
                    <div class="tagcloud">
                        <span class="tag-btn" ng-click="getRelatedStories(tag)" ng-repeat="tag in features">{{tag}}</span>
                    </div>
                </div>
        </article>
    </section>
    <section  layout="row" class="review-details md-padding"  layout-wrap>
        <div flex-gt-sm="66" flex-xs="100" flex-sm="100"  layout="row" layout-wrap>
            
                <article flex-gt-sm="50" flex-xs="100" flex-sm="100">
                    <div class="overall-rating">
                        <h3 class="overall-ratings-headings">Overall Rating ({{allRatings.overallRating}})</h3>
                        <h3>
                            <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="material-icons" ng-class="($index<=(allRatings.overallRating-1))?'golden':'grey'" style="font-size:12px;">grade</i></span>
                        </h3>
                        <p>Ratings from {{allRatings.overallRatingNum}} reviews</p>
                    </div>
                </article>
                <article flex-gt-sm="50" flex-xs="100" flex-sm="100">
                     <div class="overview-wrapper">
                        <h3 class="overview-heading">Overview</h3>
                        <ul>
                            <li>Area <span>{{project.area.min}} Sq.Ft. - {{project.area.max}} Sq.Ft.</span></li>
                            <li>Buy <span>&#8377;{{buyMin}} - &#8377;{{buyMax}}</span></li>
                            <li>Rent <span>&#8377;{{rentMin}} - &#8377;{{rentMax}}</span></li>
                            <li>Address <span>{{project.projectDetails.address.addressLine1}} {{project.projectDetails.address.addressLine2}}</span></li>
                        </ul>
                    </div>
                </article>
     
            <div flex="100">
                <div class="all-reviews">
                    <h3 class="all-reviews-heading">Reviews</h3>
                    <div class="user-review" ng-repeat="review in reviews | orderBy :'-'" layout="row" layout-wrap ng-show="$index < viewReviews">
                        <div class="user-img" flex-gt-sm="20" flex-xs="100" flex-sm="100">
                            <img src="images/noImage.png" alt="User">
                        </div>
                        <div class="" flex-gt-sm="80" flex-xs="100" flex-sm="100">
                            <div class="rating-title">
                                <h3>
                                    <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="material-icons" ng-class="($index<=(review.overallRating-1))?'golden':'grey'" style="font-size:20px;">grade</i></span>
                               
                                </h3>
                                <h3 ng-show="!review.anonymous">{{review.reviewTitle}}</h3>
                            </div>
                            <div class="review-detail-basic">
                                <p ng-show="!review.anonymous"><b>{{review.userName}}</b> | {{review.createdDate | date:'MMM dd, yy'}}</p>
                                <p ng-show="review.anonymous"><b>Anonymous</b> | {{review.createdDate | date:'MMM dd, yy'}}</p>
                            </div>
                            <p>{{review.reviewText}}</p>
                        </div>
                    </div>
                    <div class="more-review-btn" ng-show="showReviewBtn">
                        <md-button ng-click="showMoreReviews()">View More</md-button>
                    </div>
                </div>
            </div>
        </div>
        <div flex-gt-sm="33" flex-xs="100" flex-sm="100" layout-align="start start" layout="row" layout-wrap>
            <article flex="100">
                    <div class="all-rating-summary">
                        <h3 class="all-rating-summary-heading">User Ratings</h3>
                        <ul>
                            <li>Excellent ({{allRatings.fiveStar}})
                                <div class="progress-bar">
                                    <span class="my-progress" id="excellentStar"></span>
                                </div>
                            </li>
                            <li>Very Good ({{allRatings.fourStar}})
                                <div class="progress-bar">
                                    <span class="my-progress" id="veryGoodStar"></span>
                                </div>
                            </li>
                            <li>Good ({{allRatings.threeStar}})
                                <div class="progress-bar">
                                    <span class="my-progress" id="goodStar"></span>
                                </div>
                            </li>
                            <li>Average ({{allRatings.twoStar}})
                                <div class="progress-bar">
                                    <span class="my-progress" id="averageStar"></span>
                                </div>
                            </li>
                            <li>Bad ({{allRatings.oneStar}})
                                <div class="progress-bar">
                                    <span class="my-progress" id="badStar"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
            </article>
            <article  flex="100">
                <div class="rating-summary">
                    <h3 class="rating-summary-heading">Rating Summary</h3>
                    <p ng-show="allRatings.amenities">
                        <span>Amenities <span class="roofpikGreen">({{allRatings.amenities}})</span></span>
                        <span class="overall-ratings">
                                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                    <i class="material-icons" ng-class="($index<=(allRatings.amenities1-1))?'golden':'grey'" style="font-size:12px;">grade</i>
                                </span>
                        </span>
                    </p>
                    <p ng-show="allRatings.security">
                        <span>Security <span class="roofpikGreen">({{allRatings.security}})</span></span>
                        <span class="overall-ratings">
                                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                    <i class="material-icons" ng-class="($index<=(allRatings.security1-1))?'golden':'grey'" style="font-size:12px;">grade</i>
                                </span>
                        </span>
                    </p>
                    <p ng-show="allRatings.openAndGreenAreas">
                        <span>Open And Green Areas <span class="roofpikGreen">({{allRatings.openAndGreenAreas}})</span></span>
                        <span class="overall-ratings">
                                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                    <i class="material-icons" ng-class="($index<=(allRatings.openAndGreenAreas1-1))?'golden':'grey'" style="font-size:12px;">grade</i>
                                </span>
                        </span>
                    </p>
                    <p ng-show="allRatings.electricityAndWaterSupply">
                        <span>Electricity And Water Supply <span class="roofpikGreen">({{allRatings.electricityAndWaterSupply}})</span></span>
                        <span class="overall-ratings">
                                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                <i class="material-icons" ng-class="($index<=(allRatings.electricityAndWaterSupply1-1))?'golden':'grey'" style="font-size:12px;">grade</i>
                                </span>
                        </span>
                    </p>
                    <p ng-show="allRatings.convenienceOfHouseMaids">
                        <span>Convenience Of House Maids <span class="roofpikGreen">({{allRatings.convenienceOfHouseMaids}})</span></span>
                        <span class="overall-ratings">
                                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                    <i class="material-icons" ng-class="($index<=(allRatings.convenienceOfHouseMaids1-1))?'golden':'grey'" style="font-size:12px;">grade</i>
                                </span>
                        </span>
                    </p>
                    <p ng-show="allRatings.convenienceOfParking">
                        <span>Convenience Of Parking <span class="roofpikGreen">({{allRatings.convenienceOfParking}})</span></span>
                        <span class="overall-ratings">
                                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                    <i class="material-icons" ng-class="($index<=(allRatings.convenienceOfParking1-1))?'golden':'grey'" style="font-size:12px;">grade</i>
                                </span>
                        </span>
                    </p>
                </div>
            </article>
<!--             <article flex="100">
                <div class="other-website-links">
                    <h3 class="other-website-links-heading">Are you looking for?</h3>
                    <ul>
                        <li>
                            <span ng-click="selectBuyRent('buy')">Buy  <i class="material-icons" ng-show="buySelected">check_circle</i></span>
                            <span ng-click="selectBuyRent('rent')">Rent  <i class="material-icons" ng-show="rentSelected">check_circle</i></span>
                        </li>
                        
                        <li>
                            <a href="{{buyLinks.cf}}" target="_blank" g-show="buySelected"> 
                                <img src="images/cf.png">
                            </a>
                        </li>
                        <li>
                            <a href="{{buyLinks.mb}}" target="_blank">
                                <img src="images/mb.png">
                            </a>
                        </li>
                        <li>
                         <a href="{{buyLinks.acres}}" target="_blank">
                                <img src="images/acres.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </article> -->
        </div>
    </section>
</md-content>