<div layout="column" flex layout-wrap layout-fill class="project-list-page">
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row">
        <div class="filters-wrapper" layout-align="center center" layout="row" flex>
            <div flex="80" layout-align="center center">
                Filters: {{filterName}}
            </div>
        </div>
    </section>
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row">
        <div class="projects-wrapper" layout-align="center center" layout="row" flex>
            <div flex="100" layout-align="start start" layout="row">
                <div class="project-list" flex="50" layout="row" layout-wrap>
                    <div flex="50" flex-xs="100" flex-sm="100" ng-repeat="project in projects" ng-click="selectProject(project.projectId, project.projectName)">
                        <div style="padding:10px">
                            <div class="image-box">
                                <div class="image">
                                    <img ng-src="{{project.imgUrl}}" alt="" />
                                    <h2>#{{$index+1}} of {{numProjects}} projects in Gurgaon</h2>
                                </div>
                            </div>
                            <div class="project-info">
                                <div class="project-name">
                                    <span class="left">{{project.projectName}}</span>
                                    <span class="right" ng-if="project.rating">{{project.rating}}<i class="material-icons">&#xE838;</i></span>
                                </div>
                                <div class="project-location">
                                    <span class="align-middle"> <i class="material-icons">&#xE55F;</i> {{project.displayLocation}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-wrapper" flex="50">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>
</div>
