<md-content>
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="header-story">
        <article flex="100" flex-xs="100" flex-sm="100">
            <div class="featured-story" style="background-image:url({{project.images.main['2100x800']}});">
                <div class="featured-caption">
                    <div class="featured-caption-content">
                        <div class="featured-caption-category"><a href="#">{{projectName}}</a></div>
                        <p style="color:#fff;"><i class="material-icons">location_on</i>{{project.projectDetails.address.displayLocation}}</p>
                        <span style="color:#fff;"><i class="material-icons" >grade</i>4.5</span>
                        <div>
                            <a href="#" >{{project.projectStatus}}</a>
                            <a href="#">{{bhkAvailable}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
<!--     <section class="gl-page-header-wrapper">
        <div class="container">
            <div class="row" id="reviewHeading">
                <h1>{{projectName}}</h1>
                <p><i class="material-icons">location_on</i>{{project.projectDetails.address.displayLocation}}</p>
                <span class="gl-item-rating"><i class="material-icons" >grade</i>4.5</span>
                <div class="gl-page-head-btn-wrapper">
                    <a href="#" class="gl-btn gl-icon-btn gl-share-btn">{{project.projectStatus}}</a>
                    <a href="#" class="gl-btn gl-icon-btn">{{bhkAvailable}}</a>
                </div>
            </div>
        </div>
    </section> -->
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="header-story">
        <article flex="100" flex-xs="100" flex-sm="100">
                <div class="featured-caption-content">
                    <div class="tagcloud">
                        <p ng-click="getRelatedStories(tag)" ng-repeat="tag in features">{{tag}}</p>
                    </div>
                </div>
        </article>
    </section>
    
<!--     <section class="gl-tab-profile-meta-section">
        <div class="container">
            <div class="row">
                <div class="gl-tab-nav-wrapper col-md-12 col-sm-12 col-xs-12">
                    <div layout="row" class="gl-search-meta-wrapper" ng-show="project.standoutFeatures">
                        <div class="gl-search-tags">
                            <a class="gl-tag-btn" ng-repeat="tag in features">{{tag}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="header-story">
        <article flex="33" flex-xs="100" flex-sm="100">
            <div class="overall-rating">
                <h4 class="overall-ratings-headings">Overall Rating ({{allRatings.overallRating}})</h4>
                <h3>
                    <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="material-icons" ng-class="($index<=(allRatings.overallRating-1))?'golden':'grey'" style="font-size:20px;">grade</i></span>
                </h3>
                <h5>Ratings from {{allRatings.overallRatingNum}} reviews</h5>
            </div>
        </article>
        <article flex="33" flex-xs="100" flex-sm="100">
             <div class="overview-wrapper">
                <h3>Overview</h3>
                <ul>
                    <li>Area <span>{{project.area.min}} Sq.Ft. - {{project.area.max}} Sq.Ft.</span></li>
                    <li>Buy <span>&#8377;{{project.price.buy.min}} - &#8377;{{project.price.buy.max}}</span></li>
                    <li>Rent <span>&#8377;{{project.price.rent.min}} - &#8377;{{project.price.rent.max}}</span></li>
                    <li>Address <span>{{project.projectDetails.address.addressLine1}} {{project.projectDetails.address.addressLine2}}</span></li>
                </ul>
            </div>
        </article>
        <article flex="33" flex-xs="100" flex-sm="100">
                <div class="rating-summary">
                    <h3>User Ratings</h3>
                    <ul>
                        <li>Excellent ({{allRatings.fiveStar}})
                            <div class="progress-bar">
                                <span class="my-progress" id="excellentStar"></span>
                            </div>
                        </li>
                        <li>Very Good ({{allRatings.fourStar}})
                            <div class="progress-bar">
                                <span class="my-progress" id="veryGoodStar"></span>
                            </div>
                        </li>
                        <li>Good ({{allRatings.threeStar}})
                            <div class="progress-bar">
                                <span class="my-progress" id="goodStar"></span>
                            </div>
                        </li>
                        <li>Average ({{allRatings.twoStar}})
                            <div class="progress-bar">
                                <span class="my-progress" id="averageStar"></span>
                            </div>
                        </li>
                        <li>Bad ({{allRatings.oneStar}})
                            <div class="progress-bar">
                                <span class="my-progress" id="badStar"></span>
                            </div>
                        </li>
                    </ul>
                </div>
        </article>
    </section>

</md-content>