<md-content class="user-all-reviews-page">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular ng-hide="dataloaded" class="md-warn md-hue-3" md-diameter="60"></md-progress-circular>
    </div>
    <md-card class="md-padding" ng-repeat="review in allReviews" id="user-review-card" ng-show="dataloaded">
        <div class="user-review">
            <h1>{{review.reviewTitle}}</h1>
            <div layout="row">
            	<div flex="33">
            		<p ng-if="review.projectName">{{review.projectName}}</p>
            		<p ng-if="review.locationName">{{review.locationName}}</p>
            	</div>
            	<div flex="33">
            		<p ng-if="review.createdDate">{{review.createdDate | date:'MMM dd, yyyy'}}</p>
            	</div>
            	<div flex="33" id="edit-review-btn" class="roofpikGreen">
            		<i class="material-icons" ng-click="editReview(review)">mode_edit</i>
            	</div>
            </div>
        </div>
    </md-card>
</md-content>
